<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SAGP | Cadastro</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />

  </head>
  <body class="login-page">
    <div class="login-box" style="width: 350px;">
      <div class="login-logo">
        <a href="../apresentacao/apresentacao.html"><b>SAGP</b></a> <!-- KL redireciona para a tela de apresentação inicial -->
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Informe o tipo de cadastro</p>
        <form action="/autenticar" method="post">

          <div class="row">

            <div class="col-xs-12">
              <a href="/cadastro_cliente" class="btn btn-primary btn-block btn-flat">Cliente</a>
            </div><!-- /.col -->
            <div class="col-xs-12">
                <a href="/cadastro_desenvolvedor" class="btn btn-primary btn-block btn-flat">Desenvolvedor</a>
            </div><!-- /.col -->
            <div class="col-xs-12">
                <a href="/cadastro_tutor" class="btn btn-primary btn-block btn-flat">Tutor</a>
            </div><!-- /.col -->
            <div class="col-xs-12">
                <a href="/login" class="btn btn-primary btn-block btn-flat">Voltar</a>
            </div><!-- /.col -->
          </div>
        </form>





      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.3  -->
    <script src="plugins/jQuery/jQuery-2.1.3.min.js"></script>

    <!-- Bootstrap 3.3.2 JS -->
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>
</html>
