
<ul id="progressbar">
  <li class="active">Modelar Projeto</li>
  <li>Cadastrar Projeto</li>
</ul>
<fieldset>
  <!-- <div class="box box-success"> -->
  <h2 class="fs-title">Cadastrar Projeto</h2>
  <!-- <h3 class="fs-subtitle">This is step 1</h3> -->

  <!-- <div class="row"> -->
  <div class="form-group col-md-12 ">
    <input type="text" class="form-control" name="nomeProjeto" placeholder="Nome do Projeto"  />
  </div>

  <!-- </div> -->
  <div class="form-group col-md-12 cmp">
    <textarea rows="5" class="form-control" name="descrProjeto" placeholder="Descreva com suas palavras sobre o projeto a ser desenvolvido:" ></textarea>
  </div>
  <input type="button" name="Anterior" class="previous action-button  btn  btn-success" value="Anterior" />
  <!-- <input type="button" name="Anterior" class="next action-button" value="Próximo" /> -->
  <input type="button" name="proximo" class=" next action-button btn  btn-success" value="Próximo"/>

  <!-- </div> -->
</fieldset>
<fieldset>
  <!-- <div class="box box-success"> -->
     <h2 class="fs-title">Modelar Sistema</h2>
     <!-- <h3 class="fs-subtitle">This is step 1</h3> -->


       <div class="form-group col-md-12 cmp">
          <textarea rows="5" class="form-control" name="descrProjetoModelarSistema" placeholder="Para que finalidade será o seu sistema"></textarea>
       </div>
       <!-- <div class="row"> -->



       <div class="form-group col-md-12 cmp">
         <!--<div class="col-md-3 check-custum " id="div_1">
           <i class="glyphicon glyphicon-folder-open" > </i>
           <label for="professional_types_designer" class="lab">
             <input type="checkbox"  onclick="selecionar(this)" name="mobile" class="check-input" id="check_1" value="1">
             <span class="checkbox-kl"></span>
             <p class="radio-box-subtitle " >Mobile</p>
           </label>
         </div>
         <div class="col-md-3 check-custum " id="div_2">
           <i class="glyphicon glyphicon-folder-open " > </i>
           <label for="professional_types_designer" class="lab">
             <input type="checkbox"  onclick="selecionar(this)"  name="web" class="check-input" id="check_2" value="1" >
             <span class="checkbox-kl"></span>
             <p class="radio-box-subtitle " >Web</p>
           </label>
         </div>
       <div class="col-md-3 check-custum " id="div_3">
         <i class="glyphicon glyphicon-folder-open " > </i>
         <label for="professional_types_designer" class="lab">
           <input type="checkbox"  onclick="selecionar(this)" name="desktop" class="check-input" id="check_3" value="1">
           <span class="checkbox-kl"></span>
           <p class="radio-box-subtitle " >Desktop</p>
         </label>
       </div> -->
       <select class="form-control selecao" name="plataforma">
          <option value="0" disabled selected><span class="optionDefault">Selecione a Plataforma do Sistema</span></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>
     </div>
     <div class="form-group col-md-12 cmp">
        <input type="text" class="form-control camaleao" name="areaAtuacao" placeholder="Área de Atuação" />
    </div>
       <!-- </div>cxc -->
       <br/>
       <input type="button" name="Anterior" class="previous action-button  btn  btn-success" value="Anterior" />
       <!-- <input type="button" name="Anterior" class="next action-button" value="Próximo" /> -->
       <input type="button" name="proximo" class=" next action-button btn  btn-success" value="Próximo"/>
<!-- </div> -->
</fieldset>
