table font{
    font-size: 10pt;
    
}

#btnResponder{
display: inline-block !important;
background-color: darkblue;
color: #fff;
border: none;
}

#btnResponder:hover{
background-color: darkcyan;
color: #fff;
}